$paddingL1:30vh;
$paddingL2:34vh;

.inputText{
	width:90%;
}

.submitButton{
	width:100%;
}

.worldLocationLabel{
	padding-top:32vh;
}

.controlCity{
	font-size:22px;
	padding-top:29vh;
}

.largeResults{
	font-size:70px;
	padding-top:20vh;
}

.regResults{
	font-size:33px;
	padding-top:28vh;
}