.submitButton {
	width:100%;
	margin-bottom:30px;
}

.worldLocationLabel{
	padding-top:25px;
}

.settings{
	padding-bottom:15px;
}

.inputText{
	width:90%;
}
.results{
	position:relative;
}
.controlCity{
	font-size:30px;
	padding-top:18vh;
}

.largeResults{
	font-size:120px;
}

.regResults{
	font-size:40px;
}