.submitButton {
	width:100%;
	margin-bottom:50px;
}

.results{
	text-align:right;
}

.inputText{
	width:100%;
}

.controlCity{
	font-size:12vw;
}

.largeResults{
	font-size:20vw;
}

.regResults{
	font-size:10vw;
}